<div class="row panel secondary-cta">
	<div class="text-center">
		<h3>Practical Business Automation</h3>
		<h4><em>Guide to business&nbsp;automation in the golden age of software&nbsp;as&nbsp;a&nbsp;service.</em></h4>
	</div>
	<div class="small-12 medium-7 columns">
		<p>Learn about the Constellation Approach to Business Technology&mdash;the conceptual framework that underpins Caret Juice services. Follow our recipes and set up your own automation.</p>
	</div>
	<div class="text-center small-12 medium-5 columns">
		<%= link_to 'Read the Guide<br/><small>FREE - NO EMAIL REQUIRED</small>', '/practical-automation', :class => "button secondary" %>
	</div>
</div>