<div class="signup-bar" id="signup-bar">
	<div class="row">
		<div class="small-12 medium-8 columns">
			<p>Caret Juice Marketing uses cookies to learn how people use the site and improve your experience. By continuing you consent to the cookie policy outlined in our <%= link_to 'privacy policy', '/privacy.html' %>.</p>
		</div>
		<div class="small-12 medium-4 columns text-center">
			<a class="button secondary close" onclick="acceptTracking();">Accept and Continue</a>
		</div>
	</div>
</div>