---
title: About Caret Juice Marketing
description: Caret Juice Marketing is a one person marketing analytics and marketing operations consultancy.
priority: "5"
canonical: https://www.caretjuice.com/about.html 
---
	<section class="row">
		<div class="small-12 medium-7 columns">
		<h2>Who is Caret Juice</h2>
		<p>Caret Juice is a one person marketing technology and operations consultancy for small businesses run by Damon Gudaitis.</p>
		<p>Marketing technology is huge right now. There are lots of inexpensive technologies that you can benefit from using, but there’s no way that you can be expected to know about all of the possibilities.</p>
		<p>I help you navigate marketing technologies and configure a variety of inexpensive systems to give you the capabilities of a full-blown marketing automation system at a fraction of the expense.</p>
		<p>I work with you to understand how comfortable you and your staff are with technology. And then I create and document automated marketing systems that you can run yourself with little or no time required out of your day.</p>
		<p>Marketing automation systems are expensive and you need to hire someone full time to run them.</p>
		<p>I&#8217;ll help you do the most valuable things you can with a marketing automation system at a fraction of the cost.</p>
		<p><a href="contact.html">Let&#8217;s talk</a> about how you can benefit from these technologies.</p>
		</div>
		<div class="small-12 medium-5 columns text-center">
		<img src="assets/images/headshot-150x150.jpg" height="150" width="150" style="max-width: 150px; max-height: 150px;" alt="Damon Gudaitis" class="round" />
		</div>
	</section>
</section>