---
title: Caret Juice Marketing Color Palette
description: Hex values for the colors used on the Caret Juice Marketing site.
sitemap: false
canonical: https://www.caretjuice.com/colors.html
---

<section class="container" role="document">
	<article class="row">
		<h1>Caret Juice Colors</h1>
		<ul>
			<li class="carrot">Carrot: #ff7321</li>
			<li class="dk-carrot">Dark Carrot: #e65500</li>
			<li class="lt-carrot">Light Carrot: #ff8f4d</li>
			<li class="carrot-green">Carrot Green: #5D9E00</li>
			<li class="dk-carrot-green">Dark Carrot Green: #4a7e00</li>
			<li class="lt-carrot-green">Light Carrot Green: #86e400</li>
		</ul>

	</article>
	<article class="row">
		<div class="small-12 column">
			<h3>Learn how people use our software to solve the following problems:</h3>
				<ul class="button-group inline-list">
					<li><a href="#" class="button">Ensuring Consistent Brand Voice</a></li>
					<li><a href="#" class="button">Content Outreach</a></li>
					<li><a href="#" class="button">Managing Freelancers</a></li>
				</ul>
		</div>
	<article>
	<article class="row">
		<div class="small-4 column">
			<aside id="form">
				<form class="form-view hero-form" data-abide id="agile-form">
				<fieldset>

				<!-- Form Name -->
				<h3 class="text-center">Download My Brilliant Whitepaper</h3>
				<!-- Text input-->
				<div class="agile-group required-control">
				  <label class="agile-label" for="first">First Name</label>
				  <div class="agile-field-xlarge agile-field">
					<input id="first" name="first_name" type="text" placeholder="First Name" class="agile-height-default" required="">
				  </div>
				  <div class="agile-custom-clear"></div>
				</div>
				<!-- Text input-->
				<div class="agile-group required-control">
				  <label class="agile-label" for="last">Last Name</label>
				  <div class="agile-field-xlarge agile-field">
					<input id="last" name="last_name" type="text" placeholder="Last Name" class="agile-height-default" required="">
				  </div>
				  <div class="agile-custom-clear"></div>
				</div>
				<!-- Text input-->
				<div class="agile-group required-control">
				  <label class="agile-label" for="email">Email</label>
				  <div class="agile-field-xlarge agile-field">
					<input id="email" name="email" type="email" placeholder="Email" class="agile-height-default" required="">
				  </div>
				  <div class="agile-custom-clear"></div>
				</div>
				<label class="agile-label" for="cars">Send Additional Information For:</label>
				<select name="cars">
				  <option value="volvo">Don't Send Additional Information</option>
				  <option value="saab">Writer</option>
				  <option value="fiat">Content Marketer</option>
				<option value="fiat">Marketing Operations Manager</option>
				  <option value="audi">CMO/VP Marketing</option>				
				</select>
				<!-- Button -->
				<div class="agile-group">
				  <label class="agile-label">&nbsp;</label>
				  <div class="agile-field text-center">
				    <button type="submit" class="button secondary">Download Now</button>
				  </div>
				</div>
				</fieldset>
				</form>

			</aside>

		</div>
	</article>
		
</section>