---
title: Caret Juice Marketing Color Pallette
description: Hex values for the colors used on the Caret Juice Marketing site.
sitemap: false
---

<section class="container" role="document">
	<article class="row">
		<h1>Caret Juice Colors</h1>
		<ul>
			<li class="carrot">Carrot: #ff7321</li>
			<li class="dk-carrot">Dark Carrot: #e65500</li>
			<li class="lt-carrot">Light Carrot: #ff8f4d</li>
			<li class="carrot-green">Carrot Green: #5D9E00</li>
			<li class="dk-carrot-green">Dark Carrot Green: #4a7e00</li>
			<li class="lt-carrot-green">Light Carrot Green: #86e400</li>
		</ul>

	</article>
		
</section>