<div class="article-info">
	<div class="row text-center">
		<div class="small-12 large-8 large-offset-2 columns">
			<h1>Content Marketing Agencies</h1>
			<h2 class="subheader"><em>Subcontract the techy stuff; measure and report ROI.</em></h2>
		</div>
	</div>
</div>
<section class="row section section-break">
	<div class="small-12 medium-7 columns">
		<h2>How we help</h2>
		<p>You produce content that prospects love.</p>
		<p>Caret Juice can help you turn content that prospects love in to customers. And we can help you measure your success so the CMO knows that your impact is more than just likes and visits.</p>
	</div>
	<div class="small-12 medium-5 columns text-center">
	<img src="/assets/images/automation.png" style="max-width: 200px; height: auto;" alt="automation"/>
	</div>
</section>
<div class="row section-break text-center">
	<h2 style="padding-bottom: 2rem;">Services</h2>
	<div class="small-12 medium-4 columns">
		<h3>Connect Content to Business Goals</h3>
		<p>Getting eyeballs to content is not easy. Turning those eyeballs into customers is another challenge altogether.</p>
		<p>Caret Juice can help bridge your content and your customers’ goals.</p>
	</div>
	<div class="small-12 medium-4 columns">
		<h3>Content Analytics</h3>
		<p>You need both short-term success metrics like visits and long-term metrics like sales to manage content campaigns.</p>
		<p>Let Caret Juice manage the measurement strategy so that content gets the credit it deserves.</p>
	</div>
	<div class="small-12 medium-4 columns">
		<h3>Manage Technical Requirements</h3>
		<p>A lot of details remain after writing is done from image optimization, to SEO, to ensuring the measurement strategy fits with promotion efforts.</p>
		<p>Focus on the creative and let Caret Juice handle the details.</p>
	</div>
</div>
<div class="call-to-action">
	<section class="row">
		<div class="small-12 medium-8 columns">
			<h2>Learn how your business can benefit</h2>
			<p>Contact Caret Juice Marketing so we can talk about the challenges you are facing and how we can help.</p>
		</div>
		<div class="small-12 medium-4 columns text-center cta-button">
			<a href="contact.html" class="button secondary large" style="margin-top:2rem;">Contact Caret Juice</a>
		</div>
	</section>
</div>
<section class="row">
	<div class="small-12 medium-8 medium-offset-2 columns">
		<%= partial "practical-automation-cta" %>
	</div>
</section>