---
title: Contact Caret Juice Marketing
description: Call, email or connect with Caret Juice Marketing.
---

<section class="container" role="document" itemscope itemtype="http://schema.org/Organization">
	<section class="value-proposition">
		<div class="row text-center">
			<header class="small-12 columns">
				<h1>Contact <span itemprop="name">Caret Juice Marketing</span></h1>
			</header>
		</div>
	</section>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<h2 class="subheader section">Call</h2>
			<p><a href="tel:+17788479248" itemprop="telephone">+1 778-846-9248</a></p>
			<h2 class="subheader section">Address</h2>
			<ul class="vcard" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<li class="fn" itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">Damon Gudaitis</li>
				<li class="org" itemprop="name">Caret Juice Marketing</li>
				<li class="street-address" itemprop="streetAddress">225 West 8th, Suite 300</li>
				<li class="locality" temprop="addressLocality">Vancouver</li>
				<li><span class="state" itemprop="addressRegion">British Columbia</span>, <span class="postal-code" itemprop="postalCode">V5Y 1N3</span></li>
			</ul>
		</div>
		<div class="small-12 medium-4 columns">
			<h2 class="subheader section">Mail</h2>
			<form class="contact-form" data-abide id="agile-form" action="https://caretjuice.agilecrm.com/formsubmit" method="GET">
			<fieldset>
			<div style="display: none; height: 0px; width: 0px;">
			<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Contact">
			<input type="hidden" id="_agile_domain" name="_agile_domain" value="caretjuice">
			<input type="hidden" id="_agile_api" name="_agile_api" value="rse99nj84jb6rfjao90368gjlq">
			<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="http://www.caretjuice.com/thanks.html">
			<input type="hidden" id="_agile_form_id_tags" name="tags" value="">
			</div>
			<!-- Text input-->

			<label for="first">First Name</label>
			<input id="first" name="first_name" type="text" placeholder="First Name" class="agile-height-default" required>

			<label for="last">Last Name</label>
			<input id="last" name="last_name" type="text" placeholder="Last Name" class="agile-height-default" required>

			<label for="email">Email</label>
			<input id="email" name="email" type="email" placeholder="So I can get back to you" class="agile-height-default" required>


			<label for="comments">Comments</label>
			<textarea id="comments" name="note" rows="5" required placeholder="Say something..."></textarea>

			<button type="submit" class="secondary text-center">Send Your Message</button><span id="agile-error-msg"></span>

			</fieldset>
			</form>
			<script type="text/javascript">
			(function(a){var b=a.onload,p=true;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};a.document.forms["agile-form"].onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v3()}catch(b){this.submit()}}})(window);
			</script>		</div>
		<div class="small-12 medium-4 text-center columns">
			<h2 class="subheader section text-left">Connect</h2>
			<img src="/assets/images/headshot-150x150.jpg" height="150" width="150" style="max-height: 150px; max-width: 150px;" alt="Damon Gudaitis" class="round" />
			<h4 class="subheader">Damon&nbsp;Gudaitis runs Caret&nbsp;Juice Marketing</h4>
			<ul class="inline-list inline-list-center">
			<li style="background-color: #0077B5"><a class="icon" href="https://ca.linkedin.com/in/damongudaitis"  target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
			<li style="background-color: #55acee"><a class="icon" href="https://twitter.com/damongudaitis" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
			</ul>
		</div>
	</div>


		
</section>