---
title: Connect Offline Sales and HubSpot Data to Google Analytics
description: Get enterprise-level analytics without the enterprise-level cost ^ Caret Juice Marketing
priority: ".5"
canonical: http://www.caretjuice.com/hubspot.html
---
<section class="main-section">
<section class="value-proposition pattern">
	<div class="row">
		<div class="small-12 columns">
			<h1 class="text-center">Connect Offline Sales and HubSpot Data to Google Analytics</h1>
			<div class="small-8 columns small-centered">
					<h2 class="text-center">Get Enterprise-Level Analytics Without the Enterprise-Level Cost</h2>
			</div> <!-- end nested column -->

		</div><!-- end column -->
	</div><!-- end row -->
</section>
<section class="row section-break">
	<div class="small-12 medium-5 medium-push-7 columns">
		<%= tag :img, :src => "/assets/images/data.png", :style => 'padding-top:4rem' %>
	</div>
	<div class="small-12 medium-7 medium-pull-5 columns">
		<h2 class="subheader">Start the Journey to Advanced Analytics</h2>
		<p><strong>Connect sales in your accounting or CRM software, and contact data in HubSpot to Google Analytics</strong> so that you can get many of the benefits of sophisticated data setups at a fraction of the effort and cost.</p>
		<ul>
			<li>Make decisions with confidence by understanding how upstream interactions effect downstream revenue.</li>
			<li>Start building an advanced analytics culture by using data more rigorously.</li>
			<li>Build a business case for future data projects by understanding the business impact of acting on data.</li>
			<li>Multiply the value of future data investments through improved data quality and connections.</li>
		</ul>
	</div>
</section>
<section class="row section-break panel">
	<div class="small-12 medium-7 columns">
		<h2>Let Caret Juice help you</h2>
		<ol style="font-size:1.4rem; line-height:2rem;">
			<li>Set up offline revenue tracking,</li> 
			<li>Indentify your most important metrics, and </li>
			<li>Use data to improve revenue</li>
		</ol>
		<p>Our set-up service includes:</p>
		<ul>
			<li>Connecting revenue data to analytics data</li>
            <li>Connecting HubSpot lead stage data to analytics</li>
			<li>Identifying key performance indicators</li>
			<li>Calculating funnel revenue metrics</li>
			<li>Creating alerts for changes to important metrics</li>
			<li>Updating privacy policy</li>
			<li class="carrot">Free round of analysis and conversion rate optimization</li>
		</ul>
		<p><strong>From $3800 for setup</strong></p>
	</div>
	<div class="small-12 medium-5 columns text-center">
	<h2>Connect your sales data to analytics</h2>
	<p>Ready to get started? Great. <br/>Not sure and want to know more? No problem.</p>
	<aside id="form">
		<form action="/thanks.html" method="get">
			<label>Email
			<input type="email" name="email" placeholder="Email" />
			</label>
			<label>Accounting Software		
			<input type="text" name="accounting" placeholder="Accounting Software" />
			</label>
			<label>CRM		
			<input type="text" name="crm" placeholder="CRM" />
			</label>
			<label>Comments
			<textarea name="comments" rows="6" placeholder="Comments"></textarea>
			</label>
			<input type="text" style="display:none;" id="cid" name="cid" />

			<input class="button secondary" type="submit" value="Let&#x27;s Talk" />
		</form>
	</aside>

	</div>
</section>
</section> <!--Main Section-->