---
title: Caret Juice Marketing ^ Technology &amp; Automation
description: We use inexpensive marketing technologies to automate repeated tasks.
priority: "1"
canonical: http://www.caretjuice.com/ 
---
<section class="main-section">
	<section class="value-proposition">
		<div class="row text-center">
			<div class="small-12 columns">
				<img src="assets/images/caretjuice-white.png" alt="Caret Juice Marketing" style="width:250px;height:auto; max-width:100%;" />
				<h1>Marketing Technology &amp; Automation</h1>
				<h2 class="subheader" style="font-weight:normal;"><em>You’ve got enough details to look after. <br/>Let Caret Juice handle the technical ones.</em></h2>
			</div>
		</div>
	</section>
	<section class="row section-break text-center">
		<h2 style="padding-bottom: 2rem" class="subheader">We work with</h2>
		<% link_to '/marketing-teams' do %>
			<div class="small-12 medium-4 columns panel">
				<h3>B2B Marketing <br/>Teams</h3>
				<p>Marketing operations and automation skills to supplement your team or mentor junior team members.</p>
				<p><%= link_to 'Caret Juice Services for B2B&nbsp;Marketing&nbsp;Teams', '/marketing-teams' %></p>
			</div>
		<% end %>
		<% link_to '/new-business-owners' do %>
			<div class="small-12 medium-4 columns">
				<h3 class="primary-text">New Business <br/>Owners</h3>
				<p class="primary-text">Remake your marketing and automate background tasks while building credibility with your new employees.</p>
				<p><%= link_to 'Caret Juice Services for New&nbsp;Business&nbsp;Owners', '/new-business-owners' %></p>
			</div>
		<% end %>
		<% link_to '/content-marketing-agencies' do %>
			<div class="small-12 medium-4 columns panel">
				<h3>Content Marketing Agencies</h3>
				<p>Technical skills to measure and connect the content you produce with your clients' goals.</p>
				<p><%= link_to 'Caret Juice Services for Content&nbsp;Marketing&nbsp;agencies', '/content-marketing-agencies' %></p>
			</div>
		<% end %>
	</section>
	<div class="call-to-action">
		<section class="row">
			<div class="small-12 medium-8 columns">
				<h2>Learn how your business can benefit</h2>
				<p>Contact Caret Juice Marketing so we can talk about the challenges you are facing and how we can help.</p>
			</div>
			<div class="small-12 medium-4 columns text-center cta-button">
				<a href="contact.html" class="button secondary large" style="margin-top:2rem;">Contact Caret Juice</a>
			</div>
		</section>
	</div>
	<section class="row">
		<div class="small-12 medium-8 medium-offset-2 columns">
			<%= partial "practical-automation-cta" %>
		</div>
	</section>