---
title: Google Analytics Consulting for Offline Sales
description: Connect offline sales to online marketing without the data warehouse ^ Caret Juice Marketing
priority: "1"
canonical: http://www.caretjuice.com/ 
---
<section class="main-section">
<section class="value-proposition pattern">
	<div class="row">
		<div class="small-12 columns">
			<h1 class="text-center">Google Analytics Consulting for Offline Sales</h1>
			<div class="small-8 columns small-centered">
					<h2 class="text-center">Connect offline sales to online marketing without the data warehouse</h2>
			</div> <!-- end nested column -->

		</div><!-- end column -->
	</div><!-- end row -->
</section>
<div class="row section-break">
	<div class="small-12 medium-5 medium-push-7 columns">
		<%= tag :img, :src => "/assets/images/data.png" %>
	</div>
	<div class="small-12 medium-7 medium-pull-5 columns">
		<br/>
		<h2 class="subheader">Blended Revenue and Analytics Reporting</h2>
		<p>We connect offline sales data to analytics giving you a revenue base for your marketing decisions.</p>
	</div>
</div>
<div class="row section-break">
	<div class="small-12 medium-5 columns">
		<%= tag :img, :src => "/assets/images/mail-gears.png" %>
	</div>
		<div class="small-12 medium-7 columns">
		<br/>
		<h2 class="subheader">Simple, Impactful Automated Reporting
</h2>
		<p>The right KPIs help you understand the health of your business at a glance so you can rest assured that you’ll know when something needs your attention.</p>
	</div>
</div>
<div class="row section-break">
	<div class="small-12 medium-5 medium-push-7 columns">
		<%= tag :img, :src => "/assets/images/gears.png" %>
	</div>
	<div class="small-12 medium-7 medium-pull-5 columns">
		<br/>
		<h2 class="subheader">Custom Planning and Analysis</h2>
		<p>Big plans for your next campaign? Is something bothering you about your business? We’ll set up a measurement plan, add extra data sources, and analyze the results.</p>
	</div>
</div>
<section class="row section-break panel">
	<div class="small-12 medium-7 columns">
		<h2>GA Connect</h2>
		<p><strong>Connect sales that happen offline to Google Analytics</strong></p>
		<ul>
			<li>Connect revenue data to analytics data</li>
			<li>Identify key performance indicators and automate reporting</li>
			<li>Create alerts for changes to important metrics</li>
			<li>Privacy policy review</li>
			<li>Email support</li>
			<li class="carrot">Free round of analysis and conversion rate optimization</li>
		</ul>
		<p><strong>From $3600 for setup</strong></p>
	</div>
	<div class="small-12 medium-5 columns text-center">
	<h2>Connect your sales data to analytics</h2>
	<p>Ready to get started? Great. <br/>Not sure and want to know more? No problem.</p>
	<aside id="form">
		<form>
			<label>Email
			<input type="email" name="email" placeholder="Email" />
			</label>

			<label>Comments
			<textarea name="comments" rows="6" placeholder="Comments"></textarea>
			</label>

			<input class="button secondary" type="submit" value="Let&#x27;s Talk" />

		</form>
		
	</aside>

	</div>
</section>
</section> <!--Main Section-->