<div class="article-info">
	<div class="row text-center">
		<div class="small-12 large-8 large-offset-2 columns">
			<h1>B2B Marketing Teams</h1>
			<h2 class="subheader"><em>Outsource marketing&nbsp;automation, data&nbsp;management, and training.</em></h2>
		</div>
	</div>
</div>
<section class="row section section-break">
	<div class="small-12 medium-7 columns">
		<h2>How we help</h2>
		<p>CEOs and CFOs often don’t get marketing and that can be a big problem.</p>
		<p>Caret Juice can help improve the quality of data while tying it to metrics that CEOs and CFOs care about helping them understand your value.</p>
	</div>
	<div class="small-12 medium-5 columns text-center">
	<img src="/assets/images/automation.png" style="max-width: 200px; height: auto;" alt="automation"/>
	</div>
</section>
<div class="row section-break text-center">
	<h2 style="padding-bottom: 2rem;">Services</h2>
	<div class="small-12 medium-4 columns">
		<h3>Marketing Automation</h3>
		<p>Not ready to hire someone to run marketing automation full-time?</p>
		<p>Let Caret Juice make sure that you are getting a return on your marketing automation investment.</p>
	</div>
	<div class="small-12 medium-4 columns">
		<h3>Data Management</h3>
		<p>You need good data to make decisions and that requires consistent treatment of the data.</p>
		<p>Let Caret Juice make sure that your sales and marketing data is decision-ready data.</p>
	</div>
	<div class="small-12 medium-4 columns">
		<h3>Training</h3>
		<p>Finding experienced marketing operations/automation talent is not easy.</p>
		<p>Caret Juice can mentor your young talent and help them become a greater business asset.</p>
	</div>
</div>
<div class="call-to-action">
	<section class="row">
		<div class="small-12 medium-8 columns">
			<h2>Learn how your business can benefit</h2>
			<p>Contact Caret Juice Marketing so we can talk about the challenges you are facing and how we can help.</p>
		</div>
		<div class="small-12 medium-4 columns text-center cta-button">
			<a href="contact.html" class="button secondary large" style="margin-top:2rem;">Contact Caret Juice</a>
		</div>
	</section>
</div>
<section class="row">
	<div class="small-12 medium-8 medium-offset-2 columns">
		<%= partial "practical-automation-cta" %>
	</div>
</section>