<div class="article-info">
	<div class="row text-center">
		<div class="small-12 large-8 large-offset-2 columns">
			<h1>New Business Owners</h1>
			<h2 class="subheader"><em>Remake your marketing and automate background tasks.</em></h2>
		</div>
	</div>
</div>
<section class="row section section-break">
	<div class="small-12 medium-7 columns">
		<h2>How we help</h2>
		<p>You’ve just bought an established business and have lots of ideas for making it better.</p>
		<p>Caret Juice can help remake your marketing and automate background tasks while building credibility with your new employees.</p>
	</div>
	<div class="small-12 medium-5 columns text-center">
	<img src="/assets/images/automation.png" style="max-width: 200px; height: auto;" alt="automation"/>
	</div>
</section>
<div class="row section-break text-center">
	<h2 style="padding-bottom: 2rem;">Services</h2>
	<div class="small-12 medium-4 columns">
		<h3>Marketing Automation</h3>
		<p>Most marketing automation is terrible; people don’t like talking to a robot.</p>
		<p>Let Caret Juice automate background processes making your marketing more efficient without alienating people.</p>
	</div>
	<div class="small-12 medium-4 columns">
		<h3>Data Management</h3>
		<p>It is easier than ever to measure your marketing investments, but it takes a disciplined data strategy to get consistent data.<p>
		</p>Caret Juice can handle the dirty details so you can start basing your decisions on solid data.</p>
	</div>
	<div class="small-12 medium-4 columns">
		<h3>Optimize Marketing Spend</h3>
		<p>It’s easy to spend on new marketing tools and trendy channels.</p>
		<p>Get an expert second opinion with a healthy dose of scepticism and test your choices with data.</p>
	</div>
</div>
<div class="call-to-action">
	<section class="row">
		<div class="small-12 medium-8 columns">
			<h2>Learn how your business can benefit</h2>
			<p>Contact Caret Juice Marketing so we can talk about the challenges you are facing and how we can help.</p>
		</div>
		<div class="small-12 medium-4 columns text-center cta-button">
			<a href="contact.html" class="button secondary large" style="margin-top:2rem;">Contact Caret Juice</a>
		</div>
	</section>
</div>
<section class="row">
	<div class="small-12 medium-8 medium-offset-2 columns">
		<%= partial "practical-automation-cta" %>
	</div>
</section>