---
title: Privacy at Caret Juice Marketing
description: How we balance your privacy with our goals.
---

<section class="container" role="document">
	<section class="value-proposition">
		<div class="row text-center">
			<header class="small-12 columns">
				<h1>Cookie &amp; Privacy Policy</h1>
				<h2 class="subheader">Here&#8217;s how we balance your privacy with our goals.</h2>
			</header>
		</div>
	</section>
	<article class="row">
		<div class="small-12 medium-7 columns">
			<ul>
				<li>We don&#8217;t share your personal information outside of the cloud services that we use to run our company.</li>
				<li>We store personal information on cloud services. They provide better security than we ever could.</li>
				<li>We avoid collecting sensitive information as much as possible.</li>
			</ul>
			<p>Caret Juice Marketing is based in Vancouver, BC Canada registered as Caret Juice Marketing in BC.</p>
			<h2>Cookies and Website Visitors</h2>
			<p>We use cookies and local storage to anonymously track how visitors use our web site.</p>
			<p>We use this information to improve the experience of using our site.</p>
			<p>If you wish to opt out of tracking, you can toggle tracking below.</p>
			<fieldset class="switch round inline" tabindex="0">
				<input id="toggleOptOut" type="checkbox" name="toggleOptOut" onclick="toggleTracking()"/>
				<label for="toggleOptOut"></label>
			</fieldset>
			<p class="inline" style="margin-left: -1rem; font-size:0.8rem; vertical-align:50%;">Opt Out of Analytics</p>			
			<p>Erasing cookies will cause subsequent visits to be tracked.</p>
			<p>Alternately, Caret Juice Marketing respects the <strong>do not track settings on your browser</strong>.</p>
			<p><strong>We do not use</strong> fingerprinting or super cookies to circumvent your privacy preferences.</p>
			<h2>Form Submissions</h2>
			<p>When a visitor submits their name, email and other personal details through a form, our tracking ceases to be anonymous.</p>
			<p>We use this information to understand what interactions on our site and with ads and other off-site marketing activities result in commercial relationships. Because our sales require conversations that happen offline, there is no way to track this information while giving you anonymity.</p>
		</div>
		<div class="small-12 medium-5 columns">
			&nbsp;
		</div>
	</article>
</section>
